Repository AdventureSpaceTeam/adventure_space_nova, changes with the labels that .github/labeler.yml gives for each.
All labels: audio, C#, sprite

.github/labeler.yml:

"audio":
- changed-files:
  - any-glob-to-any-file: '**/*.ogg'

"C#":
- changed-files:
  - any-glob-to-any-file: '**/*.cs'

"sprite":
- changed-files:
  - any-glob-to-any-file: '**/*.rsi/*'

"no C#":
- changed-files:
  - all-globs-to-all-files: "!**/*.cs"

Fix id cards
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Prototypes/_Adventure/Roles/Botanist/pda.yml
  Resources/Prototypes/_Adventure/Roles/SpecialForces/CLEA/CLEA_Base_Items.yml
  Resources/Prototypes/_Adventure/Roles/blueshield/blueshield.yml
  Resources/Prototypes/_Corvax/Entities/Objects/Misc/identification_cards.yml
Labels: none

Самса
  Resources/Prototypes/_Adventure/Entities/Objects/Food/shawarma_lylakebab copy.yml
Labels: none

rename folder
  Resources/Prototypes/_Adventure/Entities/Objects/Food/samsa.yml
Labels: none

ass
  Resources/Textures/Mobs/Species/Vox/organs.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Double/atmospherics.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Double/atmospherics.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Double/cargo.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Double/cargo.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Double/command.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Double/command.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Double/double_glass.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Double/double_glass.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Double/engineering.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Double/engineering.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Double/hydroponics.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Double/hydroponics.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Double/medical.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Double/medical.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Double/science.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Double/science.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Double/security.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Double/security.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Triple/atmospherics.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Triple/atmospherics.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Triple/cargo.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Triple/cargo.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Triple/command.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Triple/command.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Triple/engineering.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Triple/engineering.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Triple/medical.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Triple/medical.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Triple/science.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Triple/science.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Triple/security.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Triple/security.rsi/sparks.png
  Resources/Textures/_Adventure/Structures/Doors/Triple/triple_glass.rsi/meta.json
  Resources/Textures/_Adventure/Structures/Doors/Triple/triple_glass.rsi/sparks.png
Labels: sprite

+
  Resources/Locale/ru-RU/Adventure/Mobs/Customization/Xiod.ftl
  Resources/Prototypes/_Adventure/Races/Xiod/Customization/Xiod_Cust.yml
  Resources/Textures/_Adventure/Races/Xiod/Customization/Tails.rsi/meta.json
  Resources/Textures/_Adventure/Races/Xiod/Customization/Tails.rsi/tent6.png
Labels: sprite

Fix breathing
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/_Adventure/Gases/reagents.yml
Labels: none

Bruh
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
Labels: C#

факсы апстрима и уээ
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/_Adventure/Races/Xiod/Tools/Xiod_exo.yml
  Resources/Prototypes/_Adventure/Races/Xiod/Tools/Xiod_tools.yml
  Resources/Prototypes/_Adventure/Races/Xiod/Xiod_inventory_template.yml
  Resources/Textures/_Adventure/Races/Xiod/displacement.rsi/back.png
  Resources/Textures/_Adventure/Races/Xiod/displacement.rsi/belt.png
Labels: sprite

переделал фикс
  Resources/Prototypes/_Adventure/Races/Xiod/Tools/Xiod_exo.yml
  Resources/Prototypes/_Adventure/Races/Xiod/Tools/Xiod_tools.yml
  Resources/Prototypes/_Adventure/Races/Xiod/Xiod_inventory_template.yml
  Resources/Textures/_Adventure/Races/Xiod/displacement.rsi/back.png
  Resources/Textures/_Adventure/Races/Xiod/displacement.rsi/belt.png
Labels: sprite

f
  Resources/Prototypes/_Adventure/Races/Xiod/Tools/Xiod_exo.yml
  Resources/Prototypes/_Adventure/Races/Xiod/Tools/Xiod_tools.yml
Labels: none

Override species requirement through sponsor bypass(#510)
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
Labels: C#

Bork fix (#512)
  Resources/Prototypes/_Adventure/Races/Xiod/Tools/Xiod_exo.yml
  Resources/Prototypes/_Adventure/Races/Xiod/Tools/Xiod_tools.yml
  Resources/Prototypes/_Adventure/Races/Xiod/Xiod_inventory_template.yml
  Resources/Textures/_Adventure/Races/Xiod/displacement.rsi/back.png
  Resources/Textures/_Adventure/Races/Xiod/displacement.rsi/belt.png
Labels: sprite

ore scanner resprite
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/adv-o.png
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/adv.png
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/icon-o.png
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/icon.png
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/inhand-left-adv.png
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/inhand-left-reg.png
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/inhand-right-adv.png
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/inhand-right-reg.png
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/meta.json
Labels: sprite

walkie talkie resprite
  Resources/Textures/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/Objects/Devices/communication.rsi/off-walkietalkie-inhand-left.png
  Resources/Textures/Objects/Devices/communication.rsi/off-walkietalkie-inhand-right.png
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-active.png
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-inhand-left.png
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-inhand-right.png
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-off.png
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-on.png
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie.png
Labels: sprite

walkie talkie resprite 2
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-off.png
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie.png
  Resources/Textures/Objects/Devices/securityhandy.rsi/meta.json
  Resources/Textures/Objects/Devices/securityhandy.rsi/walkietalkie-off.png
  Resources/Textures/Objects/Devices/securityhandy.rsi/walkietalkie-on.png
  Resources/Textures/Objects/Devices/securityhandy.rsi/walkietalkie.png
Labels: sprite
