Repository AdventureSpaceTeam/adventure_space_nova, pull requests merged in 2025-03, with the labels that each got.

#266 Шмотки ящеров
  Resources/Prototypes/Entities/Clothing/Shoes/color.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: bugfix

#268 мелкие изменения
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
Labels: content, balance change

#264 РСУ для атмоса
  Content.Client/RCD/RCDMenu.xaml
  Content.Server/_Adventure/TTS/TTSSystem.Sanitize.cs
  Resources/Locale/ru-RU/rcd/components/rcd-component.ftl
  Resources/Prototypes/Adventure/Objects/Tools/PFD.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Textures/Adventure/Interface/PFD/Port.png
  Resources/Textures/Adventure/Interface/PFD/gasFilter.png
  Resources/Textures/Adventure/Interface/PFD/gasMix.png
  Resources/Textures/Adventure/Interface/PFD/passvent.png
  Resources/Textures/Adventure/Interface/PFD/pipe1.png
  Resources/Textures/Adventure/Interface/PFD/pipe3.png
  Resources/Textures/Adventure/Interface/PFD/pipe4.png
  Resources/Textures/Adventure/Interface/PFD/pipeG.png
  Resources/Textures/Adventure/Interface/PFD/pump.png
  Resources/Textures/Adventure/Interface/PFD/scrub.png
  Resources/Textures/Adventure/Interface/PFD/vent.png
  Resources/Textures/Adventure/Objects/Tools/pfd.rsi/equipped-BELT.png
  Resources/Textures/Adventure/Objects/Tools/pfd.rsi/icon.png
  Resources/Textures/Adventure/Objects/Tools/pfd.rsi/inhand-left.png
  Resources/Textures/Adventure/Objects/Tools/pfd.rsi/inhand-right.png
  Resources/Textures/Adventure/Objects/Tools/pfd.rsi/meta.json
Labels: sprite, content

#275 Fix
  Resources/Prototypes/Adventure/Objects/Clothing/Underwear/Pants.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/Adventure/Objects/Clothing/underwear/Trusi.rsi/equipped-box-heart-rep.png
  Resources/Textures/Adventure/Objects/Clothing/underwear/Trusi.rsi/equipped-box-rep.png
  Resources/Textures/Adventure/Objects/Clothing/underwear/Trusi.rsi/equipped-string-rep.png
  Resources/Textures/Adventure/Objects/Clothing/underwear/Trusi.rsi/equipped-string2-rep.png
  Resources/Textures/Adventure/Objects/Clothing/underwear/Trusi.rsi/meta.json
Labels: sprite, bugfix

#279 мелкие изменения
  Resources/Locale/ru-RU/Adventure/Mobs/Customization/Reptilian.ftl
  Resources/Prototypes/Adventure/Races/IPC/Synth.yml
  Resources/Prototypes/Adventure/Races/PigMan/PigMan.yml
  Resources/Prototypes/Adventure/Races/Reptilian/Customization/Reptilian.yml
  Resources/ServerInfo/Adventure/Guidebook/Races/IPC.xml
  Resources/Textures/Adventure/Races/PigMan/Species/fat.rsi/hand.png
  Resources/Textures/Adventure/Races/PigMan/Species/fat.rsi/meta.json
  Resources/Textures/Adventure/Races/Reptilian/Customization/body.rsi/body_prickly.png
  Resources/Textures/Adventure/Races/Reptilian/Customization/horns.rsi/full_spike.png
  Resources/Textures/Adventure/Races/Reptilian/Customization/horns.rsi/meta.json
  Resources/Textures/Adventure/Races/Reptilian/Customization/tails.rsi/meta.json
  Resources/Textures/Adventure/Races/Reptilian/Customization/tails.rsi/tail_spike.png
  Resources/Textures/Adventure/Races/Reptilian/Customization/tails.rsi/tail_spike2.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/body_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/head_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/l_arm_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/l_leg_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/r_arm_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/r_leg_tiger.png
Labels: sprite, content, bugfix, balance change

#282 рептилоиды
  Resources/Locale/ru-RU/Adventure/Mobs/Customization/Reptilian.ftl
  Resources/Prototypes/Adventure/Races/Reptilian/Customization/Reptilian.yml
  Resources/Textures/Adventure/Races/Reptilian/Customization/horns.rsi/little_trike.png
  Resources/Textures/Adventure/Races/Reptilian/Customization/horns.rsi/meta.json
  Resources/Textures/Adventure/Races/Reptilian/Customization/tails.rsi/meta.json
  Resources/Textures/Adventure/Races/Reptilian/Customization/tails.rsi/tail_big.png
  Resources/Textures/Adventure/Races/Reptilian/Customization/tails.rsi/tail_big2.png
  Resources/Textures/Adventure/Races/Reptilian/Customization/tails.rsi/tail_big_spike.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/head_f.png
Labels: sprite, content

#281 теперь эта станция под каблуком
  Resources/Prototypes/Adventure/Objects/Clothing/Dresses.yml
  Resources/Prototypes/Adventure/Objects/Clothing/high_heeled_shoes.yml
  Resources/Prototypes/Adventure/Objects/Clothing/loadouts/Black_Security.yml
  Resources/Prototypes/Adventure/Objects/Clothing/loadouts/Engineering.yml
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Adventure/Objects/Clothing/engineering/work_uniform2.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Adventure/Objects/Clothing/engineering/work_uniform2.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Adventure/Objects/Clothing/engineering/work_uniform2.rsi/icon.png
  Resources/Textures/Adventure/Objects/Clothing/engineering/work_uniform2.rsi/meta.json
  Resources/Textures/Adventure/Objects/Clothing/high_heeled_shoes.rsi/equipped-rep.png
  Resources/Textures/Adventure/Objects/Clothing/high_heeled_shoes.rsi/equipped.png
  Resources/Textures/Adventure/Objects/Clothing/high_heeled_shoes.rsi/icon.png
  Resources/Textures/Adventure/Objects/Clothing/high_heeled_shoes.rsi/meta.json
Labels: sprite, content

#280 учимся говорить неправильно
  Resources/Locale/ru-RU/Adventure/accents/adventure_german_edit.ftl
  Resources/Locale/ru-RU/Adventure/accents/kringe.ftl
  Resources/Locale/ru-RU/Adventure/speech-chatsan.ftl
  Resources/Locale/ru-RU/accent/german.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Adventure/Races/Emotions/kringe_accent.yml
Labels: content

#292 Безумный фетишист
  Resources/Prototypes/Adventure/Objects/Clothing/Underwear/Brass.yml
  Resources/Prototypes/Adventure/Objects/Clothing/Underwear/Pants.yml
  Resources/Prototypes/Adventure/Roles/Objectives/thief.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: content

#293 Фикс теста
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
Labels: bugfix, C#

#298 плащи глав
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/capcloakformal.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/capcloakformal.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/ce.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/ce.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/rd.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/rd.rsi/icon.png
Labels: sprite, content

#295 Фикс потерянного state
  Resources/Textures/Structures/Wallmounts/barsign.rsi/meta.json
Labels: bugfix
