Repository AdventureSpaceTeam/adventure_space_nova, pull requests merged in 2025-07, with the labels that each got.

#376 ЛАВАЛЭНД13
  Resources/Prototypes/Adventure/Roles/LavaLand/AdventureLava.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/Equipment/Jackhammer.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/Equipment/magmaSuit.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/Equipment/rupeeSuit.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/BOSSES/LegionCommander.yml
Labels: bugfix, balance change

#379 Обновление гномов
  Content.Server/_Adventure/DwarfAccent/DwarfAccentComponent.cs
  Content.Server/_Adventure/DwarfAccent/DwarfAccentSystem.cs
  Resources/Locale/ru-RU/accent/dwarf.ftl
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Traits/speech.yml
Labels: content, C#

#383 пара новых волосатых кастомок
  Resources/Locale/ru-RU/Adventure/Mobs/Customization/Human.ftl
  Resources/Prototypes/Adventure/Races/Human/Customization/Human.yml
  Resources/Textures/Adventure/Races/Human_hair.rsi/Dwarf.png
  Resources/Textures/Adventure/Races/Human_hair.rsi/big_Brutal.png
  Resources/Textures/Adventure/Races/Human_hair.rsi/bismark.png
  Resources/Textures/Adventure/Races/Human_hair.rsi/meta.json
  Resources/Textures/Adventure/Races/Human_hair.rsi/punk_big.png
Labels: sprite, content

#387 больше труханов
  Resources/Prototypes/Adventure/Objects/Clothing/Underwear/Brass.yml
  Resources/Prototypes/Adventure/Objects/Clothing/Underwear/Pants.yml
  Resources/Prototypes/Adventure/Objects/Clothing/_loadoutGroup.yml
  Resources/Prototypes/Adventure/Objects/Clothing/loadouts/Underwear.yml
  Resources/Textures/Adventure/Objects/Clothing/underwear/Lifaki.rsi/equipped-alkash.png
  Resources/Textures/Adventure/Objects/Clothing/underwear/Lifaki.rsi/equipped-maika.png
  Resources/Textures/Adventure/Objects/Clothing/underwear/Lifaki.rsi/equipped-telnashka.png
  Resources/Textures/Adventure/Objects/Clothing/underwear/Lifaki.rsi/icon-alkash.png
  Resources/Textures/Adventure/Objects/Clothing/underwear/Lifaki.rsi/icon-maika.png
  Resources/Textures/Adventure/Objects/Clothing/underwear/Lifaki.rsi/icon-telnashka.png
  Resources/Textures/Adventure/Objects/Clothing/underwear/Lifaki.rsi/meta.json
  Resources/Textures/Adventure/Objects/Clothing/underwear/Trusi.rsi/equipped-superstring.png
  Resources/Textures/Adventure/Objects/Clothing/underwear/Trusi.rsi/icon-superstring.png
  Resources/Textures/Adventure/Objects/Clothing/underwear/Trusi.rsi/meta.json
Labels: sprite, content

#389 ЛАВАЛЭНД16?язабыл
  Resources/Prototypes/Adventure/Roles/LavaLand/AdventureLava.yml
  Resources/Prototypes/Entities/Tiles/lava.yml
Labels: content, bugfix, balance change

#385 Осветительный набор
  Resources/Prototypes/Adventure/Objects/Specific/lightpack.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
Labels: content, bugfix, no C#

#393 Перенос туалетов с корвакса
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/condisposal.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/disposal-charging.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/disposal-closed.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/disposal-down.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/disposal-flush.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/disposal-open.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/disposal-up.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/disposal.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/dispover-charge.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/dispover-ready.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/meta.json
  Resources/Textures/Structures/Furniture/toilet.rsi/condisposal.png
  Resources/Textures/Structures/Furniture/toilet.rsi/disposal-charging.png
  Resources/Textures/Structures/Furniture/toilet.rsi/disposal-closed.png
  Resources/Textures/Structures/Furniture/toilet.rsi/disposal-down.png
  Resources/Textures/Structures/Furniture/toilet.rsi/disposal-flush.png
  Resources/Textures/Structures/Furniture/toilet.rsi/disposal-open.png
  Resources/Textures/Structures/Furniture/toilet.rsi/disposal-up.png
  Resources/Textures/Structures/Furniture/toilet.rsi/disposal.png
  Resources/Textures/Structures/Furniture/toilet.rsi/dispover-charge.png
  Resources/Textures/Structures/Furniture/toilet.rsi/dispover-ready.png
  Resources/Textures/Structures/Furniture/toilet.rsi/meta.json
Labels: sprite

#397 мелкие изм
  Resources/Audio/Adventure/Voice/IPC/RobotCry1.ogg
  Resources/Audio/Adventure/Voice/IPC/RobotCry2.ogg
  Resources/Audio/Adventure/Voice/IPC/SynthLoad1.ogg
  Resources/Audio/Adventure/Voice/IPC/SynthLoad2.ogg
  Resources/Audio/Adventure/Voice/IPC/SynthLoad3.ogg
  Resources/Maps/Adventure/Star.yml
  Resources/Prototypes/Adventure/Races/IPC/Synth.yml
  Resources/Prototypes/Adventure/Races/IPC/Synth_Sounds.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: bugfix, balance change, audio

#399 Небольшой нерф резаков
  Resources/Prototypes/Adventure/Roles/LavaLand/Equipment/ProtoKineticCutter.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/Equipment/ProtoKineticCutterIndustrial.yml
Labels: balance change

#402 обновление воксов
  Resources/Audio/Adventure/Voice/Vox/VoxHa1.ogg
  Resources/Audio/Adventure/Voice/Vox/VoxHa2.ogg
  Resources/Audio/Adventure/Voice/Vox/VoxHa3.ogg
  Resources/Audio/Adventure/Voice/Vox/VoxHa4.ogg
  Resources/Audio/Adventure/Voice/Vox/VoxSkream.ogg
  Resources/Locale/ru-RU/Adventure/Mobs/Customization/Vox.ftl
  Resources/Prototypes/Adventure/Races/Vox/Customization/Vox_Cust.yml
  Resources/Prototypes/Adventure/Races/Vox/Vox_Sounds.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Textures/Adventure/Races/Vox/Customization.rsi/beak_penguin.png
  Resources/Textures/Adventure/Races/Vox/Customization.rsi/beak_vulture.png
  Resources/Textures/Adventure/Races/Vox/Customization.rsi/big_spike.png
  Resources/Textures/Adventure/Races/Vox/Customization.rsi/meta.json
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail_big.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail_short.png
Labels: sprite, content, audio
