Repository AdventureSpaceTeam/adventure_space_nova, pull requests merged in 2025-04, with the labels that each got.

#299 Печенька
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/gingerbread.ftl
  Resources/Prototypes/Adventure/Objects/Food/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
Labels: bugfix

#301 Некоторые фишки с 1 апреля
  Content.Client/Flip/FlipAnimationSystem.cs
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Flip/FlipAnimationSystem.cs
  Content.Shared/Body/Events/RespiratorEvents.cs
  Content.Shared/Flip/FlipAnimationComponent.cs
  Content.Shared/Flip/SharedFlipAnimationSystem.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/chat/emotes.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Textures/Interface/Alerts/breathing.rsi/meta.json
  Resources/Textures/Interface/Alerts/breathing.rsi/off.png
  Resources/Textures/Interface/Alerts/breathing.rsi/on.png
  Resources/Textures/Interface/Emotes/attributions.yml
  Resources/Textures/Interface/Emotes/flip.png
Labels: sprite, content, C#

#296 HOP нарайнай HOP нарайнайнайнай
  Resources/Prototypes/Adventure/Objects/Clothing/loadouts/Command/HoP.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Adventure/Objects/Clothing/HoP/backpack.rsi/equipped-BACKPACK.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/backpack.rsi/icon.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/backpack.rsi/inhand-left.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/backpack.rsi/inhand-right.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/backpack.rsi/meta.json
  Resources/Textures/Adventure/Objects/Clothing/HoP/duffel.rsi/equipped-BACKPACK.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/duffel.rsi/icon.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/duffel.rsi/inhand-left.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/duffel.rsi/inhand-right.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/duffel.rsi/meta.json
  Resources/Textures/Adventure/Objects/Clothing/HoP/hop_greatcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/hop_greatcoat.rsi/icon.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/hop_greatcoat.rsi/meta.json
  Resources/Textures/Adventure/Objects/Clothing/HoP/hop_jumpskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/hop_jumpskirt.rsi/icon.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/hop_jumpskirt.rsi/meta.json
  Resources/Textures/Adventure/Objects/Clothing/HoP/hop_jumpsuit.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/hop_jumpsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/hop_jumpsuit.rsi/icon.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/hop_jumpsuit.rsi/meta.json
  Resources/Textures/Adventure/Objects/Clothing/HoP/hophat.rsi/equipped-HELMET.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/hophat.rsi/icon.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/hophat.rsi/meta.json
  Resources/Textures/Adventure/Objects/Clothing/HoP/satchel.rsi/equipped-BACKPACK.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/satchel.rsi/icon.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/satchel.rsi/inhand-left.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/satchel.rsi/inhand-right.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/satchel.rsi/meta.json
  Resources/Textures/Adventure/Objects/Clothing/HoP/suit/hop_helmet.rsi/equipped-HELMET-reptilian.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/suit/hop_helmet.rsi/equipped-HELMET-vox.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/suit/hop_helmet.rsi/equipped-HELMET.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/suit/hop_helmet.rsi/icon.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/suit/hop_helmet.rsi/meta.json
  Resources/Textures/Adventure/Objects/Clothing/HoP/suit/hop_suit.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/suit/hop_suit.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/suit/hop_suit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/suit/hop_suit.rsi/icon.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/suit/hop_suit.rsi/inhand-left.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/suit/hop_suit.rsi/inhand-right.png
  Resources/Textures/Adventure/Objects/Clothing/HoP/suit/hop_suit.rsi/meta.json
Labels: sprite, content, balance change, no C#

#303 рожЫ
  Resources/Locale/ru-RU/Adventure/Mobs/Customization/Human.ftl
  Resources/Locale/ru-RU/Adventure/Mobs/Customization/Reptilian.ftl
  Resources/Prototypes/Adventure/Races/Human/Customization/Human.yml
  Resources/Prototypes/Adventure/Races/PigMan/Customization/PigMan.yml
  Resources/Prototypes/Adventure/Races/Reptilian/Customization/Reptilian.yml
  Resources/Textures/Adventure/Races/Human_hair.rsi/body_hair_hand.png
  Resources/Textures/Adventure/Races/Human_hair.rsi/body_hair_leg.png
  Resources/Textures/Adventure/Races/Human_hair.rsi/meta.json
  Resources/Textures/Adventure/Races/Reptilian/Customization/snout.rsi/meta.json
  Resources/Textures/Adventure/Races/Reptilian/Customization/snout.rsi/snout_beak.png
  Resources/Textures/Adventure/Races/Reptilian/Customization/snout.rsi/snout_croc.png
  Resources/Textures/Adventure/Races/Reptilian/Customization/snout.rsi/snout_tumb.png
Labels: sprite

#300 инженерия
  Content.Server/Power/Generation/Teg/TegGeneratorComponent.cs
  Resources/Prototypes/Adventure/Objects/Machines/NuclearGenerator/NuclearGenerator.yml
  Resources/Prototypes/Adventure/Objects/Machines/SolarSail/solar_sail.yml
  Resources/Textures/Structures/Power/Generation/teg.rsi/circ-0-light.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/circ-0.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/circ-1-light.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/circ-1.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/circ-2-light.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/circ-2.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/teg.rsi/static.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/teg-op1.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/teg-op10.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/teg-op11.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/teg-op2.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/teg-op3.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/teg-op4.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/teg-op5.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/teg-op6.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/teg-op7.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/teg-op8.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/teg-op9.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/teg.png
  Resources/Textures/Structures/Power/Generation/teg.rsi/teg_mid.png
Labels: sprite, balance change, C#

#304 Сода
  Resources/Prototypes/Adventure/Races/Emotions/Emotions.yml
  Resources/Prototypes/Adventure/Reagents/bacteria.yml
  Resources/Prototypes/Reagents/Consumable/Drink/base_drink.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Textures/Adventure/Races/PigMan/Species/parts.rsi/l_leg.png
  Resources/Textures/Adventure/Races/PigMan/Species/parts.rsi/r_leg.png
Labels: content

#305 Несколько изменений
  Content.Client/RCD/RCDMenu.xaml
  Content.Client/RCD/RCDMenu.xaml.cs
  Content.Shared/RCD/Components/RCDComponent.cs
  Content.Shared/RCD/Components/RCDDeconstructibleComponent.cs
  Content.Shared/RCD/Systems/RCDAmmoSystem.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Resources/Locale/ru-RU/rcd/components/rcd-ammo-component.ftl
  Resources/Locale/ru-RU/rcd/components/rcd-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/tools.ftl
  Resources/Prototypes/Adventure/Maps/adventure_maus.yml
  Resources/Prototypes/Adventure/Objects/Tools/RPD.yml
  Resources/Prototypes/Adventure/Roles/Syndie/job.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Textures/Adventure/Interface/RPD/Port.png
  Resources/Textures/Adventure/Interface/RPD/gasFilter.png
  Resources/Textures/Adventure/Interface/RPD/gasFilterFlip.png
  Resources/Textures/Adventure/Interface/RPD/gasMix.png
  Resources/Textures/Adventure/Interface/RPD/gasMixFlip.png
  Resources/Textures/Adventure/Interface/RPD/injector.png
  Resources/Textures/Adventure/Interface/RPD/passvent.png
  Resources/Textures/Adventure/Interface/RPD/pipe1.png
  Resources/Textures/Adventure/Interface/RPD/pipe10.png
  Resources/Textures/Adventure/Interface/RPD/pipe2.png
  Resources/Textures/Adventure/Interface/RPD/pipe3.png
  Resources/Textures/Adventure/Interface/RPD/pipe4.png
  Resources/Textures/Adventure/Interface/RPD/pipe5.png
  Resources/Textures/Adventure/Interface/RPD/pipe6.png
  Resources/Textures/Adventure/Interface/RPD/pipe7.png
  Resources/Textures/Adventure/Interface/RPD/pipe8.png
  Resources/Textures/Adventure/Interface/RPD/pipe9.png
  Resources/Textures/Adventure/Interface/RPD/pipeG.png
  Resources/Textures/Adventure/Interface/RPD/pump.png
  Resources/Textures/Adventure/Interface/RPD/pumpManualValve.png
  Resources/Textures/Adventure/Interface/RPD/pumpVolume.png
  Resources/Textures/Adventure/Interface/RPD/radiator1.png
  Resources/Textures/Adventure/Interface/RPD/radiator2.png
  Resources/Textures/Adventure/Interface/RPD/scrub.png
  Resources/Textures/Adventure/Interface/RPD/vent.png
  Resources/Textures/Adventure/Objects/Tools/rpd.rsi/equipped-BELT.png
  Resources/Textures/Adventure/Objects/Tools/rpd.rsi/icon.png
  Resources/Textures/Adventure/Objects/Tools/rpd.rsi/inhand-left.png
  Resources/Textures/Adventure/Objects/Tools/rpd.rsi/inhand-right.png
  Resources/Textures/Adventure/Objects/Tools/rpd.rsi/meta.json
Labels: sprite, content, bugfix, balance change, C#

#311 ЛАВАЛЭНД2
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/BOSSES/LavaColossus.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/mobs.yml
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/colossus.rsi/alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/colossus.rsi/dead.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/colossus.rsi/light_alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/colossus.rsi/light_dead.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/colossus.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/mobs/lavacrab.rsi/alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/lavacrab.rsi/light_alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/lavacrab.rsi/meta.json
Labels: sprite, content

#313 ЛАВАЛЭНД3
  Resources/Prototypes/Adventure/Roles/LavaLand/magmaSuit.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/magmatite.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/BOSSES/AshDragon.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/BOSSES/LavaColossus.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/mobs.yml
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/helmet.rsi/equipped-HELMET-lava.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/helmet.rsi/icon-flash.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/helmet.rsi/icon-lava.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/helmet.rsi/icon.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/helmet.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/helmet.rsi/off-equipped-HELMET-reptilian.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/helmet.rsi/on-equipped-HELMET-reptilian.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/helmet.rsi/on-equipped-HELMET.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/suit.rsi/equipped-OUTERCLOTHING-lava.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/suit.rsi/equipped-OUTERCLOTHING-reptilian-lava.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/suit.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/suit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/suit.rsi/icon-lava.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/suit.rsi/icon.png
  Resources/Textures/Adventure/Roles/LavaLand/MagmaSuit/suit.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/materials/Magma.rsi/fragment.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/Magma.rsi/fragment_light.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/Magma.rsi/magmatite.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/Magma.rsi/magmatite_light.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/Magma.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/dragon.rsi/alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/dragon.rsi/dead.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/dragon.rsi/light_alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/dragon.rsi/light_dead.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/dragon.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/mobs/legions/legion.rsi/alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/legions/legion.rsi/dead.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/legions/legion.rsi/light_alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/legions/legion.rsi/light_dead.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/legions/legion.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/mobs/legions/legionSkull.rsi/alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/legions/legionSkull.rsi/light_alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/legions/legionSkull.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/rock_magma.png
Labels: sprite, content, no C#

#314 ЛАВАЛЭНД4
  Resources/Audio/Adventure/LavaLand/ColossusSpawn.ogg
  Resources/Audio/Adventure/LavaLand/DragonSpawn.ogg
  Resources/Audio/Adventure/LavaLand/Magma.ogg
  Resources/Audio/Adventure/LavaLand/StoneDown.ogg
  Resources/Audio/Adventure/LavaLand/StoneMagma.ogg
  Resources/Audio/Adventure/LavaLand/monster.ogg
  Resources/Audio/Adventure/LavaLand/monster2.ogg
  Resources/Audio/Adventure/LavaLand/monster3.ogg
  Resources/Prototypes/Adventure/Roles/LavaLand/materials/gems.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/materials/magmatite.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/materials/ores.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/BOSSES/AshDragon.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/BOSSES/LavaColossus.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/mobs.yml
  Resources/Prototypes/Entities/Tiles/lava.yml
  Resources/Prototypes/Recipes/Lathes/Packs/ore.yml
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Dragon_pearl.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Dragon_stone.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Dragon_stone_ore.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Emerald.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Emerald_ore.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Ruby.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Ruby_ore.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Sapphire.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Sapphire_ore.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Topaz.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Topaz_ore.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/processed_magmatite.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/colossus.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/colossus.rsi/sleep.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/colossus.rsi/sleep_light.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/colossus.rsi/spawn.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/colossus.rsi/spawn_light.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/dragon_spawn.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/mobs/BOSSES/dragon_spawn.rsi/spawn.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/goliath.rsi/alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/goliath.rsi/dead.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/goliath.rsi/light_alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/goliath.rsi/light_dead.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/old_goliath.rsi/alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/old_goliath.rsi/dead.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/old_goliath.rsi/light_alive.png
  Resources/Textures/Adventure/Roles/LavaLand/mobs/old_goliath.rsi/light_dead.png
  Resources/Textures/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/rock_gem.png
Labels: sprite, content, no C#, audio

#316 Вернуть немецкий акцент в норму
  Resources/Locale/ru-RU/Adventure/accents/adventure_german_edit.ftl
  Resources/Locale/ru-RU/accent/german.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: content, no C#

#320 гачи-шахтёры
  Resources/Prototypes/Adventure/Objects/Clothing/_loadoutGroup.yml
  Resources/Prototypes/Adventure/Objects/Clothing/loadouts/Salvage.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Textures/Adventure/Objects/Clothing/cargo/salvage.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Adventure/Objects/Clothing/cargo/salvage.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Adventure/Objects/Clothing/cargo/salvage.rsi/icon.png
  Resources/Textures/Adventure/Objects/Clothing/cargo/salvage.rsi/meta.json
  Resources/Textures/Adventure/Objects/Clothing/cargo/salvage2.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Adventure/Objects/Clothing/cargo/salvage2.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Adventure/Objects/Clothing/cargo/salvage2.rsi/icon.png
  Resources/Textures/Adventure/Objects/Clothing/cargo/salvage2.rsi/meta.json
Labels: sprite, content

#319 пара новых кастов для кпб
  Resources/Locale/ru-RU/Adventure/Mobs/Customization/IPC.ftl
  Resources/Prototypes/Adventure/Races/IPC/Customization/Synth_Cust.yml
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/left_arm.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/line.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/meta.json
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/right_arm.png
  Resources/Textures/Adventure/Races/IPC/Customization/Face.rsi/camera.png
  Resources/Textures/Adventure/Races/IPC/Customization/Face.rsi/meta.json
  Resources/Textures/Adventure/Races/IPC/Customization/Head.rsi/antennBent.png
  Resources/Textures/Adventure/Races/IPC/Customization/Head.rsi/cable1.png
  Resources/Textures/Adventure/Races/IPC/Customization/Head.rsi/cable2.png
  Resources/Textures/Adventure/Races/IPC/Customization/Head.rsi/meta.json
Labels: sprite, content

#318 коррекция речи
  Content.Server/Speech/EntitySystems/FrontalLispSystem.cs
  Resources/Prototypes/Traits/speech.yml
Labels: bugfix, C#

#323 ЛАВАЛЭНД6
  Resources/Prototypes/Adventure/Roles/LavaLand/materials/magmatite.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/materials/ores.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/Necro/NecroSpike.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/mobs.yml
  Resources/Prototypes/Entities/Tiles/lava.yml
Labels: bugfix, balance change

#327 снова касты для кпб
  Resources/Locale/ru-RU/Adventure/Mobs/Customization/IPC.ftl
  Resources/Prototypes/Adventure/Races/IPC/Customization/Synth_Cust.yml
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/body.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/head.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/left_arm.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/left_foot.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/left_hand.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/left_leg.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/line.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/meta.json
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/right_arm.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/right_foot.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/right_hand.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/right_leg.png
Labels: sprite, content

#325 Мензурки
  Resources/Textures/Objects/Specific/Chemistry/beaker.rsi/beaker.png
  Resources/Textures/Objects/Specific/Chemistry/beaker.rsi/beaker1.png
  Resources/Textures/Objects/Specific/Chemistry/beaker.rsi/beaker2.png
  Resources/Textures/Objects/Specific/Chemistry/beaker.rsi/beaker3.png
  Resources/Textures/Objects/Specific/Chemistry/beaker.rsi/beaker4.png
  Resources/Textures/Objects/Specific/Chemistry/beaker.rsi/beaker5.png
  Resources/Textures/Objects/Specific/Chemistry/beaker.rsi/beaker6.png
  Resources/Textures/Objects/Specific/Chemistry/beaker.rsi/lid_beaker.png
  Resources/Textures/Objects/Specific/Chemistry/beaker.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/beaker_bluespace.rsi/beakerbluespace.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_bluespace.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_bluespace.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_bluespace.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/beaker_cryostasis.rsi/beakernoreact.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_cryostasis.rsi/lid_beakernoreact.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_cryostasis.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/beaker_large.rsi/beakerlarge.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_large.rsi/beakerlarge1.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_large.rsi/beakerlarge2.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_large.rsi/beakerlarge3.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_large.rsi/beakerlarge4.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_large.rsi/beakerlarge5.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_large.rsi/beakerlarge6.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_large.rsi/lid_beakerlarge.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_large.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-1.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-2.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-3.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-4.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-5.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-6.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/lid_bottle.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/dropper.rsi/dropper.png
  Resources/Textures/Objects/Specific/Chemistry/dropper.rsi/dropper1.png
  Resources/Textures/Objects/Specific/Chemistry/pills_canister.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/pills_canister.rsi/pill_canister.png
  Resources/Textures/Objects/Specific/Chemistry/vial.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/vial.rsi/vial-1-1.png
  Resources/Textures/Objects/Specific/Chemistry/vial.rsi/vial-1-2.png
  Resources/Textures/Objects/Specific/Chemistry/vial.rsi/vial-1-3.png
  Resources/Textures/Objects/Specific/Chemistry/vial.rsi/vial-1-4.png
  Resources/Textures/Objects/Specific/Chemistry/vial.rsi/vial-1-5.png
  Resources/Textures/Objects/Specific/Chemistry/vial.rsi/vial-1-6.png
  Resources/Textures/Objects/Specific/Chemistry/vial.rsi/vial-1.png
  Resources/Textures/Objects/Specific/Chemistry/vial.rsi/vial.png
Labels: sprite
