Repository AdventureSpaceTeam/adventure_space_nova, pull requests merged in 2025-05, with the labels that each got.

#330 Фикс кривой миграции
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-bottles.ftl
  Resources/Prototypes/Adventure/Roles/SpecialForces/Uplinks/ERTuplink.yml
  Resources/Prototypes/Adventure/Roles/blueshield/uplink.yml
Labels: bugfix

#331 Светящиеся глазки
  Resources/Prototypes/Adventure/_CyberneticGenesis/Linses/cargo_linses.yml
  Resources/Prototypes/Adventure/_CyberneticGenesis/Linses/linses.yml
  Resources/Prototypes/Adventure/_CyberneticGenesis/Linses/linses_implant.yml
  Resources/Prototypes/Adventure/_CyberneticGenesis/Linses/linsescrates.yml
  Resources/Textures/Adventure/_CyberneticGenesis/linses/black_linses.rsi/equipped-EYES-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/black_linses.rsi/equipped-EYES.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/black_linses.rsi/icon-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/black_linses.rsi/icon.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/black_linses.rsi/inhand-left.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/black_linses.rsi/inhand-right.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/black_linses.rsi/meta.json
  Resources/Textures/Adventure/_CyberneticGenesis/linses/cyan_linses.rsi/equipped-EYES-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/cyan_linses.rsi/equipped-EYES.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/cyan_linses.rsi/icon-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/cyan_linses.rsi/icon.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/cyan_linses.rsi/inhand-left.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/cyan_linses.rsi/inhand-right.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/cyan_linses.rsi/meta.json
  Resources/Textures/Adventure/_CyberneticGenesis/linses/lime_linses.rsi/equipped-EYES-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/lime_linses.rsi/equipped-EYES.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/lime_linses.rsi/icon-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/lime_linses.rsi/icon.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/lime_linses.rsi/inhand-left.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/lime_linses.rsi/inhand-right.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/lime_linses.rsi/meta.json
  Resources/Textures/Adventure/_CyberneticGenesis/linses/orange_linses.rsi/equipped-EYES-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/orange_linses.rsi/equipped-EYES.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/orange_linses.rsi/icon-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/orange_linses.rsi/icon.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/orange_linses.rsi/inhand-left.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/orange_linses.rsi/inhand-right.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/orange_linses.rsi/meta.json
  Resources/Textures/Adventure/_CyberneticGenesis/linses/red_linses.rsi/equipped-EYES-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/red_linses.rsi/equipped-EYES.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/red_linses.rsi/icon-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/red_linses.rsi/icon.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/red_linses.rsi/inhand-left.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/red_linses.rsi/inhand-right.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/red_linses.rsi/meta.json
  Resources/Textures/Adventure/_CyberneticGenesis/linses/violet_linses.rsi/equipped-EYES-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/violet_linses.rsi/equipped-EYES.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/violet_linses.rsi/icon-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/violet_linses.rsi/icon.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/violet_linses.rsi/inhand-left.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/violet_linses.rsi/inhand-right.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/violet_linses.rsi/meta.json
  Resources/Textures/Adventure/_CyberneticGenesis/linses/white_linses.rsi/equipped-EYES-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/white_linses.rsi/equipped-EYES.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/white_linses.rsi/icon-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/white_linses.rsi/icon.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/white_linses.rsi/inhand-left.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/white_linses.rsi/inhand-right.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/white_linses.rsi/meta.json
  Resources/Textures/Adventure/_CyberneticGenesis/linses/yellow_linses.rsi/equipped-EYES-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/yellow_linses.rsi/equipped-EYES.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/yellow_linses.rsi/icon-unshaded.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/yellow_linses.rsi/icon.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/yellow_linses.rsi/inhand-left.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/yellow_linses.rsi/inhand-right.png
  Resources/Textures/Adventure/_CyberneticGenesis/linses/yellow_linses.rsi/meta.json
Labels: sprite, content, no C#

#337 ЛАВАЛЭНД8
  Resources/Maps/Adventure/LavaLand/AmirMaps.yml
  Resources/Maps/Adventure/LavaLand/BorkMaps.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/AdventureLava.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/Equipment/ProtoKineticCutterIndustrial.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/LavalendMarkers.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/materials/Mushrooms.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/materials/gems.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/materials/ores.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/BloodMiners.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/mobs.yml
  Resources/Prototypes/Recipes/Lathes/Packs/ore.yml
  Resources/Textures/Adventure/Roles/LavaLand/Equipment/industrial_kinetic_cutter.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Adventure/Roles/LavaLand/Equipment/industrial_kinetic_cutter.rsi/icon.png
  Resources/Textures/Adventure/Roles/LavaLand/Equipment/industrial_kinetic_cutter.rsi/inhand-left.png
  Resources/Textures/Adventure/Roles/LavaLand/Equipment/industrial_kinetic_cutter.rsi/inhand-right.png
  Resources/Textures/Adventure/Roles/LavaLand/Equipment/industrial_kinetic_cutter.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/Equipment/industrial_kinetic_cutter.rsi/wielded-inhand-left.png
  Resources/Textures/Adventure/Roles/LavaLand/Equipment/industrial_kinetic_cutter.rsi/wielded-inhand-right.png
  Resources/Textures/Adventure/Roles/LavaLand/Equipment/industrial_kinetic_cutter/battery.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Adventure/Roles/LavaLand/Equipment/industrial_kinetic_cutter/battery.rsi/icon.png
  Resources/Textures/Adventure/Roles/LavaLand/Equipment/industrial_kinetic_cutter/battery.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Amber.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Dragon_pearl.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Phoron.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Phoron_ore.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Rupee.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/Rupee_ore.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/gems.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/materials/mushrooms.rsi/cactus.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/mushrooms.rsi/cactus_Gather.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/mushrooms.rsi/coal_mushroom.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/mushrooms.rsi/coal_mushroom_Gather.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/mushrooms.rsi/inocybe_mushroom.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/mushrooms.rsi/inocybe_mushroom_Gather.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/mushrooms.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/materials/mushrooms.rsi/polypore_mushroom.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/mushrooms.rsi/polypore_mushroom_Gather.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/mushrooms.rsi/porcini_mushroom.png
  Resources/Textures/Adventure/Roles/LavaLand/materials/mushrooms.rsi/porcini_mushroom_Gather.png
Labels: sprite, content, no C#

#338 ЛАВАЛЭНД9
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/Necro/NecroSpike.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/mobs/Necro/chests_filled.yml
  Resources/Textures/Adventure/Roles/LavaLand/necro_spike/oldChest.rsi/base.png
  Resources/Textures/Adventure/Roles/LavaLand/necro_spike/oldChest.rsi/closed.png
  Resources/Textures/Adventure/Roles/LavaLand/necro_spike/oldChest.rsi/icon-open.png
  Resources/Textures/Adventure/Roles/LavaLand/necro_spike/oldChest.rsi/meta.json
  Resources/Textures/Adventure/Roles/LavaLand/necro_spike/oldChest.rsi/open.png
Labels: content, balance change, no C#

#333 карочи без названия
  Resources/Locale/ru-RU/Adventure/Mobs/Customization/Snake.ftl
  Resources/Maps/Adventure/Ripper.yml
  Resources/Prototypes/Adventure/Maps/Pools/Adventure.yml
  Resources/Prototypes/Adventure/Maps/adventure_ripper.yml
  Resources/Prototypes/Adventure/Races/Snake/Customization/Snake.yml
  Resources/Prototypes/Adventure/Races/Snake/Snake_Species.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/materials/gems.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Textures/Adventure/Races/Snake/Customization/Tails48.rsi/Snake_tail_giant.png
  Resources/Textures/Adventure/Races/Snake/Customization/Tails48.rsi/giant.png
  Resources/Textures/Adventure/Races/Snake/Customization/Tails48.rsi/meta.json
  Resources/Textures/Adventure/Races/Snake/Customization/body.rsi/body_m.png
  Resources/Textures/Adventure/Races/Snake/Customization/body.rsi/chin.png
  Resources/Textures/Adventure/Races/Snake/Customization/collar.rsi/Imperial.png
  Resources/Textures/Adventure/Races/Snake/Customization/collar.rsi/Imperial_1.png
  Resources/Textures/Adventure/Races/Snake/Customization/collar.rsi/Imperial_spike.png
  Resources/Textures/Adventure/Races/Snake/Customization/collar.rsi/meta.json
  Resources/Textures/Adventure/Races/Snake/Customization/snout.rsi/Tongue.png
  Resources/Textures/Adventure/Races/Snake/Customization/snout.rsi/meta.json
  Resources/Textures/Adventure/Races/Snake/Species/parts.rsi/Head.png
  Resources/Textures/Adventure/Races/Snake/Species/parts.rsi/eyes.png
  Resources/Textures/Adventure/Races/Snake/Species/parts.rsi/head_f.png
  Resources/Textures/Adventure/Races/Snake/Species/parts.rsi/head_m.png
  Resources/Textures/Adventure/Races/Snake/Species/parts.rsi/torso_m.png
  Resources/Textures/Adventure/Races/Snake/displacement.rsi/desp_f.png
  Resources/Textures/Adventure/Races/Snake/displacement.rsi/desp_m.png
Labels: sprite, content, balance change, no C#

#348 ЕГО ЖДАЛИ, ОНО ПРИШЛО - КПБ
  Content.Server/_Adventure/Synth/SynthSystem.cs
  Content.Shared/_Adventure/Synth/Components/SynthComponent.cs
  Resources/Locale/ru-RU/Adventure/Mobs/Customization/IPC.ftl
  Resources/Prototypes/Adventure/Races/IPC/Customization/Synth_Cust.yml
  Resources/Prototypes/Adventure/Races/IPC/Synth.yml
  Resources/Textures/Adventure/Interface/Actions/meta.json
  Resources/Textures/Adventure/Interface/Actions/off.png
  Resources/Textures/Adventure/Interface/Actions/on.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/body1.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/body2.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/hole.png
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/meta.json
  Resources/Textures/Adventure/Races/IPC/Customization/Body.rsi/woman.png
Labels: sprite, content, C#

#351 Фиксы апстрима
  Resources/Maps/Adventure/LavaLand/BorkMaps.yml
  Resources/Maps/Adventure/Ripper.yml
  Resources/Prototypes/Adventure/Races/typing_Indicator.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/AdventureLava.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/materials/gems.yml
  Resources/Prototypes/Adventure/Roles/LavaLand/materials/magmatite.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/meta.json
Labels: bugfix, balance change, no C#
